@font-face {
    font-family: 'Libre Baskerville';
    src: url('./woff2/LibreBaskerville-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('./woff2/LibreBaskerville-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('./woff2/LibreBaskerville-RegularItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}